// Override Bootstrap variables
// Bootstrap theme variable overrides.
// Refer to node_modules/bootstrap/scss/variables for available variable overrides.

// Color system
// stylelint-disable-next-line scss/dollar-variable-default

$primary    :    #2754e6 !default;
$secondary  :    #673BB7 !default;
$success    :    #10d876 !default;
$info       :    #2754e6 !default;
$warning    :    #FE9431 !default;
$danger     :    #E50202 !default;
$light      :    #f5f5f5 !default;
$light2     :    #6C7C94 !default;
$light3     :    #dadcdf !default;
$light4     :    #F8F8F8 !default;
$dark       :    #343a40 !default;

$blue       :    #0d6efd !default;
$indigo     :    #6610f2 !default;
$purple     :    #6f42c1 !default;
$pink       :    #d63384 !default;
$red        :    #dc3545 !default;
$orange     :    #fd7e14 !default;
$yellow     :    #ffc107 !default;
$green      :    #198754 !default;
$teal       :    #20c997 !default;
$cyan       :    #0dcaf0 !default;

$white      :    #fff !default;
$gray-100   :    #f8f9fa !default;
$gray-200   :    #e9ecef !default;
$gray-300   :    #dadcdf !default;
$gray-400   :    #ced4da !default;
$gray-500   :    #adb5bd !default;
$gray-600   :    #6c757d !default;
$gray-700   :    #495057 !default;
$gray-800   :    #343a40 !default;
$gray-900   :    #212529 !default;
$black      :    #000 !default;

$facebook   :    #0d66ff !default;  
$messenger  :    #55acee !default;  
$twitter    :    #3b5999 !default;  
$linkedin   :    #0077B5 !default;  
$skype      :    #00AFF0 !default;  
$pinterest  :    #bd081c !default;  
$instagram  :    #e4405f !default;  
$flicker    :    #ff0084 !default;  
$whatsup    :    #25D366 !default;  
$tumblr     :    #34465d !default;  
$youtube    :    #cd201f !default;

$darkgreen  :    #B8FB04 !default;
$darkcyan   :    #034651 !default;
$deepgreen  :   #0C4434 !default;

$lightgreen  :   #F0F7F3 !default;
$lightblue  :   #F5F7FF !default;
$lightbrown : #FCFFF5 !default;
$lightbrown2 : #F1EDE7 !default;




$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px,
);

$colors: (
    "blue"      :          $blue,
    "indigo"    :          $indigo,
    "purple"    :          $purple,
    "pink"      :          $pink,
    "red"       :          $red,
    "orange"    :          $orange,
    "yellow"    :          $yellow,
    "green"     :          $green,
    "teal"      :          $teal,
    "cyan"      :          $cyan,
    "white"     :          $white,
    "gray"      :          $gray-600,
    "gray-dark" :          $gray-800,
    
    "facebook"  :          $facebook,
    "messenger" :          $messenger,
    "twitter"   :          $twitter,
    "linkedin"  :          $linkedin,
    "skype"     :          $skype,
    "pinterest" :          $pinterest,
    "instagram" :          $instagram,
    "flicker"   :          $flicker,
    "whatsup"   :          $whatsup,
    "tumblr"    :          $tumblr,
    "youtube"   :          $youtube,
    "darkgreen" :          $darkgreen,
    "darkcyan"  :          $darkcyan,
    "deepgreen"  :         $deepgreen,
    "light4"  :            $light4,
    "lightgreen"  :        $lightgreen,
    "lightblue" :          $lightblue,
    "lightbrown"    :       $lightbrown,
    "lightbrown2"    :       $lightbrown2,
    

) !default;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "light2":     $light2,
    "light3":     $light3,
    "dark":       $dark,
    "orange":     $orange,
    "green":      $green,
    "cyan" :      $cyan,
    "darkgreen" : $darkgreen,
    "darkcyan"  : $darkcyan,
);


// Body
$body-bg   : #fff;
$body-color: #515184;
$enable-negative-margins: true;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows:              true;
$enable-gradients:            false !default;

////////////////////////////////////////////////////
//---------------- F O N T S ----------------------
///////////////////////////////////////////////////


$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-weight   : 400;
$font-size-base         : 1rem;
$font-weight-base       : 400 !default;


////////////////////////////////////////////////////
//---------------- BUTTON & INPUT ------------------
///////////////////////////////////////////////////

$btn-color:                   #fff;
$input-btn-font-size-xs:      12px;
$input-btn-font-size:         14px;
$input-btn-font-size-sm:      13px;
$input-btn-font-size-lg:      16px;
$input-btn-font-family: 'DM Sans', sans-serif;

$btn-padding-y:   11px;
$btn-padding-x:   18px;

$btn-padding-y-sm: 6.25px;
$btn-padding-x-sm: 16px;

$btn-padding-y-lg: 14px;
$btn-padding-x-lg: 23px;

$btn-border-width: 1px;

$btn-font-size:               $input-btn-font-size;
$btn-font-size-sm:            $input-btn-font-size-sm;
$btn-font-size-lg:            $input-btn-font-size-lg;

$darkmode-body-bg : #1a2236;
$darkmode-body-bgdark : #293145;

$border-radius-xl:              0.75rem;
$border-radius-xxl:              1rem;
$border-radius-xxxl:              2rem;

$spinner-border-width:    .20em;

$pagination-padding-y:              .375rem;
$pagination-padding-x:              .9rem;
$pagination-padding-y-sm:           .25rem;
$pagination-padding-x-sm:           .5rem;
$pagination-padding-y-lg:           .5rem;
$pagination-padding-x-lg:           1rem;

$pagination-color:                  $gray-700;
$pagination-hover-color:            $gray-800;
$pagination-active-bg:              $primary;

// var(--theme-color)
$progress-height:                   .9rem;
$progress-box-shadow:               none;

// table
$table-cell-padding-x:              .75rem;
$table-th-font-weight:              500;
$table-border-color:                $gray-200;
$table-hover-bg-factor:             .025;

$enable-grid-classes:               true;
$enable-cssgrid:                    true;

$list-group-border-color:           $gray-200;
$list-group-color:                  $gray-900;

$input-color:                       $gray-800;
$input-placeholder-color:           $gray-600;

$input-border-color:        $gray-300;
$input-box-shadow:          0 1px 3px -1px rgba(0, 0, 0, 0.15);

$input-focus-box-shadow:       0 0 0 .2rem color-mix(in srgb,var(--theme-color-tint),#fff 85%);
$input-focus-border-color:     color-mix(in srgb,var(--theme-color-tint),#fff 35%);

$form-select-border-color:        $gray-300;
$form-select-box-shadow:          0 1px 3px -1px rgba(0, 0, 0, 0.15);

$form-select-focus-border-color:  color-mix(in srgb,var(--theme-color-tint),#fff 35%);
$form-select-focus-box-shadow:    0 0 0 .2rem color-mix(in srgb,var(--theme-color-tint),#fff 85%);

$input-padding-y:                   $btn-padding-y;
$input-padding-x:                   $btn-padding-x;

$input-padding-y-sm:                $btn-padding-y-sm;
$input-padding-x-sm:                $btn-padding-x-sm;

$input-padding-y-lg:                $btn-padding-y-lg;
$input-padding-x-lg:                $btn-padding-x-lg;

$input-font-size:                   14px;
$input-font-size-lg:                $input-btn-font-size-lg;
$input-font-size-sm:                $input-btn-font-size-sm;

$input-focus-width:                 0;
$input-btn-focus-width:             0;
$btn-focus-box-shadow:              none;
$input-btn-focus-box-shadow:        none;
$btn-focus-width:             0;
$btn-box-shadow:                    0 0 0 0;

$form-check-input-disabled-opacity:     .6;
$form-check-input-focus-width:          0;
$form-check-input-focus-box-shadow:     none;
$form-check-margin-bottom:              0;
$form-check-input-width:                1.2em;
$form-check-input-width-sm:             1em;
$form-check-input-width-lg:             1.35em;
$form-check-input-width-xl:             1.5em;

$form-range-track-box-shadow:           none;

$table-cell-vertical-align:         middle;
$table-cell-padding-y:              .7rem;
$table-cell-padding-x:              .5rem;
$table-cell-padding-y-sm:           .25rem;
$table-cell-padding-x-sm:           .25rem;

$table-hover-bg: var(--theme-color-light);

// ALERT
$alert-padding-y:               .8rem;
$alert-padding-x:               .8rem;

$btn-focus-width:             $input-btn-focus-width;

:root {
    // VAR COLOR
    --gray-100   :    #f8f9fa;
    --gray-200   :    #e9ecef;
    --gray-300   :    #dee2e6;
    --gray-400   :    #ced4da;
    --gray-500   :    #adb5bd;
    --gray-600   :    #6c757d;
    --gray-700   :    #495057;
    --gray-800   :    #343a40;
    --gray-900   :    #212529;
}

